:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color:#2196F3;
  --primary-white-color: #ffffff;
  --footer-bg-color:#2F303A;
  --secondary-bg-color: #F5F4FA;}
       
.page{
      background-color: var(--primary-white-color);
      color:var(--primary-text-color);
      font-family: 'Roboto',sans-serif;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.03em;}
.list{
      list-style: none;}

.container{
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;}

.page-header{
      border-bottom: 1px solid #ECECEC;}
      
.centered{
      text-align: center;}

       /* header */

.logo{
      color: #000000;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      text-decoration: none;}
.logo-web{
      color:var(--accent-color);}
.logo-studio:hover,
.logo-studio:focus{
      color: var(--accent-color);}

.site-nav .link{
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--title-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;}
.site-nav .link:hover,
.site-nav .link:focus{
      color: var(--accent-color);}
.site-nav .link.current{
      color: var(--accent-color);}

.contacts-items .contact{
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--primary-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;}
.icon-envelope,
.icon-phon{
      margin-right: 10px;}
.contacts-items .contact:hover,
.contacts-items .contact:focus{
      color: var(--accent-color);
      fill: var(--accent-color);}

.page-header .container{
      display: flex;
      align-items: center;}       
.site-nav {
      display: flex;
      margin-left: 93px;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;}
.site-nav> .item:not(:last-child){
      margin-right: 50px;}
.contacts-items{
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      
align-items: center;}
.contacts-items>.item:not(:first-child){
      margin-left: 50px;}

    /* hero */

.hero-section{
      text-align: center;
      padding: 200px 0;}
.overlay{
      max-width: 1600px;
      height: 600;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-bg.jpg);
      background-color: #C4C4C4;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;}
.hero-title{
      max-width: 650px;
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;

      color: var(--primary-white-color);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;} 
          
    /* buttons */

.button{
      display: inline-block;
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 10px 32px;

      color: var(--title-text-color);
      background-color:var(--primary-white-color);
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      cursor: pointer;}
.button.primary{
      background-color:var(--accent-color);
      color: var(--primary-white-color);}     
.button.primary:hover,
.button.primary:focus {
      background-color: #188CE8;}

    /* sections */

.section{
      background-color:var(--primary-white-color);
      padding-top: 94px;
      padding-bottom: 94px;}
.title{
      color: var(--title-text-color);
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;}
.section-title {
      margin-top: 0;
      margin-bottom: 50px;

      color: var(--title-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;}

      /* features section*/

.features .list{
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      row-gap: 30px;
      flex-basis: calc(1170-(30*3)/4);}
.features .list .item:not(:last-child){
      margin-right: 30px;}
.features-icons{
      display: flex;
      height: 120px;
      justify-content: center;               
      margin-bottom: 30px;
      align-items: center;
      background-color: var(--secondary-bg-color);
      border-radius: 4px;}

.features .list .title {
      margin-top: 0;
      margin-bottom: 10px;}
.features-text{
      margin-top: 0;
      margin-bottom: 0;

      font-style: normal;
      line-height: 1.71;}

       /* about us */

.about.section{
      padding-top: 0;}       
.about .list{
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;}

.about .list .item:not(:last-child){
      margin-right: 30px;}

      /* our team */
.team-title{
      margin-top: 0;
      margin-bottom: 10px;
      
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;}
.team-text{  
      margin-top: 0;
      margin-bottom: 16px;
      
      font-size: 16px;
      line-height: 1.19;}

.section.team{
      background-color: var(--secondary-bg-color);}
.team .list {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      justify-content: space-between;}
.team .list .item{
      background-color: var(--primary-white-color);}
.team .list .desc{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 32px;
      padding-right: 32px;}   
.socials-list{       
      display: flex;        
      padding: 0;
      margin: 0;
      justify-content: space-between;
      list-style: none;}
.socials-item{
      display: flex;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px transparent;     
      cursor: pointer;}    
.socials-icon {
      display: flex;    
      width: inherit;
      height: inherit;
      justify-content: center;
      align-items: center;

      fill: var(--primary-text-color);
      text-decoration: none;} 
.socials-item:not(:last-child) {
      margin-right: 10px;}            
.socials-icon:hover,
.socials-icon:focus{
      fill: var(--primary-white-color);}
.socials-item:hover,
.socials-item:focus{
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);}
.item-shadow{
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;}

/* our clients */

.clients .list {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      align-items: center;}
.clients .list .item {
      display: flex;
     
      width: 170px; 
      height: 92px;
      justify-content: center;
            align-items: center;

      background-color: var(--primary-white-color);
      border: 1px solid var(--primary-text-color);
      border-radius: 4px;}
.clients-icon {
      display: flex;
      width: inherit;
      height: inherit;
      justify-content: center;
      align-items: center;

      fill: var(--primary-text-color);
      text-decoration: none;}

.clients-icon:hover,
.clients-icon:focus {
      fill: var(--accent-color);}
.clients .list .item:hover,
.clients .list .item:focus {
      fill: var(--accent-color);
      border: 1px solid var(--accent-color);}

      /* footer */

.footer{
      padding-bottom: 60px;}
.footer{
      background-color: var(--footer-bg-color);}
.footer .logo{
      display: inline-block;
      padding-top: 60px;
      padding-bottom: 20px;}      
.logo-studio.white{
      color: var(--primary-white-color);} 
.logo-studio.white:hover,
.logo-studio.white:focus{
      color: var(--accent-color);}

.address .list{
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;}      
.post-address{     
      color: var(--primary-white-color);
      font-style: normal;
      line-height: 1.71;
      text-decoration: none;} 
.tel-address{
      padding-top: 9px;
      font-style: normal;
      line-height: 1.71;

      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;}
.tel-address:hover,
.tel-address:focus {
      color: var(--accent-color);}

.footer-content{
      display: flex;
      justify-content: flex-start;}
.footer-contact{         
      display: block;
      margin-right: 70px;}

.footer-socials .title{
      margin-top: 0;
      margin-bottom: 20px;

      color: var(--primary-white-color);}
.footer-socials{      
      display: block;
      padding-top: 72px;}
.footer-socials .socials-list{
      padding: 0;}
.footer-socials .socials-item:not(:last-child){
      margin-right: 10px;}
.footer-socials .socials-item{
      background: rgba(255, 255, 255, 0.1);}
.footer-socials .socials-icon{
      fill: var(--primary-white-color);}

.socials-list .socials-item:hover,
.socials-list .socials-item:focus{
      background-color: var(--accent-color);}

      /* Портфолио */

      /* button secondary */

.button.secondary{
      padding: 6px 22px;
      margin-bottom: 34px;

      background-color:var(--secondary-bg-color);
      color:var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;} 
.button.secondary:hover,
.button.secondary:focus{
      background-color: var(--accent-color);
      color: var(--primary-white-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08), 
      0px 2px 2px rgba(0, 0, 0, 0.12);}
.button.secondary.current {
      color: var(--primary-white-color);
      background-color: var(--accent-color);}
.btn-list{
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;

      list-style-type: none;}
.btn-list .item:not(:last-child){
      margin-right: 8px;}

.gallery.list{
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;    
      
      background-color: var(--primary-white-color);}
.gallery .list .item{
      margin-bottom: 30px;}
.gallery .list .item:not(:nth-child(3n)){
      margin-right: 30px;}
.gallery-link{
      display: block;
      margin: 0;
      padding: 0;
    
      text-decoration: none;}
.gallery-link>img {
      display: block;}
.gallery-title{
      margin-top: 0;
      margin-bottom: 4px;

      color: var(--title-text-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;}            
.gallery-text{
      margin-top: 0;
      margin-bottom:0;
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.88;}            
          
.gallery .item .desc{    
      padding: 20px 24px;
      background: var(--primary-white-color);
      border: 1px solid #EEEEEE;
      border-top: 0;}

.gallery .list .item:hover,
.gallery .list .item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);}
  